.invoice{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    /* border: 1px solid #2D3748; */
    .left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 10px;
        h1{
            color: #fff;
            font-family: "Plus Jakarta Display";
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            margin: 0;
        }
        p{
            margin: 0;
            color: #A0AEC0;
            font-family: "Plus Jakarta Display";
            font-style: normal;
            font-weight: 400;
            font-size: 10px;
        }
    }
    .right{
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 20px;
        p{
            margin: 0;
            color: #A0AEC0;
            font-family: "Plus Jakarta Display";
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
        }
        a{
            text-decoration: none;
            color: #A0AEC0;
            font-family: "Plus Jakarta Display";
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
        }
    }
}